[TQAUTH]
user_name = iatlantis
password =

[TQACCOUNT]
broker_id = H徽商期货
account_id =
password =

[REAL]
open = True
tq_kq = False
tq_back_test = False

[URL]
feishu_webhook_url = https://open.feishu.cn/open-apis/bot/v2/hook/5e6013ef-801
dingding_webhook_url = https://oapi.dingtalk.com/robot/send?access_token=9ebed
dingding_secret = SECc

[SMTP163]
email_host = smtp.163.com
email_user = 18@163.com
email_pass = NDPERD
sender = 18@163.com
receivers = o@126.com

[SMTPQQ]
email_host = smtp.qq.com
email_user = 1@qq.com
email_pass = gfor
receivers = o@126.com

